<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scottquach.homeworkchatbotassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.IntroActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.NotifyClassEndReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.AssignmentDueReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.RebootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.NotificationReplyReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.TimeChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".jobs.JobNotifyClassEnd"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".jobs.JobNotifyAssignmentDue"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1b853f43e0aa989369064dd2dc2521ef53522103" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>